version: '3.1'

services:
  nodecv2:
    build:
      context: .
    volumes:
      - ./node_modules
    ports:
      - "8081:8081"
    depends_on:
      - "mydb"

  mydb:
    image: mysql:8
    command:  --default-authentication-plugin=mysql_native_password
    restart: always
    environment: 
      MYSQL_ROOT_PASSWORD: root
    container_name: mydb
    expose: 
      - 3306

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - "mydb"
    environment: 
      ADMINER_DEFAULT_SERVER: mysql