.article{
  width: 33%;
  float:left;
}

.product{
  width: 33%;
  float:left;
}

.home_btn{
  float:left;
}

.cart_btn{
  padding-left: 70px;
}

.item{
  width:100%;
  float:left;
}

.item_title{
  width: 30%;
  float:left;

}

.item_amount{
  width: 5%;
  text-align: center;
  float:left;
}

.item_amount_head{
  width: 9%;
  float:left;
}

.item_total_cost{
  width: 15%;
  text-align: center;
  float:left;

}

.remove_item_btn{
  width: 2%;
  float: left;
}

.item_increase_amount{
  width: 2%;
  float: left;
}

.item_decrease_amount{
  width: 2%;
  float: left;
}

.form_div{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.form_text{
  width: 100%;
}

.form{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.order_total{
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.create_btn{  
    width: 50%;
    height: 50px;
    position:relative;
    left: 25%;
}

.create_order_btn{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.label{
  display:inline-block;
  margin-top: 15px;
}

.order_id{
  width: 10%;
  text-align: center;
  float: left;
}
.admin_div{
  float: left;
  width: 100%;
}


.order_amount{
  width: 10%;
  text-align: center;
  float:left;

}

.order_cname{
  width: 20%;
  text-align: center;
  float:left;

}

.order_email{
  width: 20%;
  text-align: center;
  float:left;

}

.order_pname{
  width: 20%;
  text-align: center;
  float:left;

}

.order_state{
  width: 20%;
  text-align: center;
  float:left;

}
