.article{
  width: 33%;
  float:left;
}

.product{
  width: 33%;
  float:left;
}

.home_btn{
  float:left;
}

.item{
  width:100%;
  float:left;
}

.item_title{
  width: 30%;
  float:left;

}

.item_amount{
  width: 5%;
  text-align: center;
  float:left;
}

.item_amount_head{
  width: 9%;
  float:left;
}

.item_total_cost{
  width: 15%;
  text-align: center;
  float:left;

}

.remove_item_btn{
  width: 2%;
  float: left;
}

.item_increase_amount{
  width: 2%;
  float: left;
}

.item_decrease_amount{
  width: 2%;
  float: left;
}
